body {
	margin: 0;
	padding-bottom: 50px;
	color: green;
}
section > h1 {
	
	clear: both;

}

section {
	background-image: url("../images/panda.jpg");
	background-size: contain;
	background-opacity:.5;
}


.hero div {
	float: left;
	width: 33%;
	padding: 1em;
	box-sizing: border-box;
	font-size: 2em;
}

.more {
	display: none;
}